.footer {
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding: 3em;
    background-color: $footer-background-color;
    color: $footer-text-color;
}

.footer a {
    color: $footer-text-color;
}

.footer>div {
    text-align: center;
}

.footer .social {
    font-size: 2rem;
}
