$font-color: #fcfcfc;
$font-alternative-color: #333;
$accent-color: #ee6c4d;
$background-color: #333;
$background-alternative-color: #e0fbfc;
$footer-background-color: #444;
$footer-text-color: #fff;
$border-color: #ccc;
$linkColor: #7fdbff;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
